body {
	background-color: #e9e2d6;
}

ul {
	color: #000000;
	font: 25px Century Gothic;
}

ol {
	color: #000000;
	font: 35px Verdana;
}

h1 {
	color: rgb(104, 60, 34);
	font: 40px Franklin Gothic Book;
}